<!--
  /*============================================;
  Title: Node Bucket
  Author: Cory Gilliam
  Date: March 2020;
  Modified By:
  Description: Display two columns with all of the tasks.
  ===========================================*/
-->

<!-- Component wrapper -->
<div
  class="container"
  role="region"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayoutGap="2em"
  fxFlexAlign="center"
  fxLayoutAlign="center"
  >

  <!-- Todo List -->
  <mat-card
    role="group"
    class="task__card"
    fxFlex="40em"
    >

    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>Todo</mat-card-title>

      <!-- Create new task button -->
      <button mat-button matTooltip="Create a new task." (click)="openDialog()">
        <mat-icon class="add_circle">add_circle</mat-icon>
      </button>
    </mat-card-header>

    <mat-card
      fxLayout="column"
      fxLayoutGap="1em"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todoTasks"
      [cdkDropListConnectedTo]="doneList"
      (cdkDropListDropped)="drop($event)"
      >

      <mat-expansion-panel
        *ngFor="let task of todoTasks"
        cdkDrag
        >

        <mat-expansion-panel-header>

          <mat-panel-title>{{ task.title }}</mat-panel-title>

          <div class="drag_hanle__wrapper">
            <mat-icon class="drag_handle grabable"> drag_handle</mat-icon>
            <mat-icon class="drag_handle grabable"> drag_handle</mat-icon>
            <mat-icon class="drag_handle grabable"> drag_handle</mat-icon>
          </div>

        </mat-expansion-panel-header>

        <mat-card-content>
          <p>{{ task.text }}</p>
        </mat-card-content>

        <mat-action-row>
          <button mat-button matTooltip="Edit this task." (click)="openEditDialog(task._id)">
            <mat-icon class="edit">edit</mat-icon>
          </button>
          <button mat-button matTooltip="Delete this task." (click)="onTaskDelete(task._id)">
            <span class="icon-container">
              <mat-icon class="del">delete</mat-icon>
              <mat-icon class="del del-hover">delete_forever</mat-icon>
            </span>
            </button>
          </mat-action-row>

        </mat-expansion-panel>

      </mat-card>
  </mat-card>

  <!-- Done List -->
  <mat-card
    role="group"
    class="task__card"
    fxFlex="40em">

    <mat-card-header>
      <mat-card-title>Done</mat-card-title>
    </mat-card-header>


    <mat-card
      fxLayout="column"
      fxLayoutGap="1em"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="todoList"
      (cdkDropListDropped)="drop($event)"
      >

      <mat-expansion-panel
        *ngFor="let task of doneTasks"
        cdkDrag
        >

        <mat-expansion-panel-header>

          <mat-panel-title>{{ task.title }}</mat-panel-title>

          <div class="drag_hanle__wrapper">
            <mat-icon class="drag_handle grabable"> drag_handle</mat-icon>
            <mat-icon class="drag_handle grabable"> drag_handle</mat-icon>
            <mat-icon class="drag_handle grabable"> drag_handle</mat-icon>
          </div>

        </mat-expansion-panel-header>

        <mat-card-content>
          <p>{{ task.text }}</p>
        </mat-card-content>

        <mat-action-row>
          <button mat-button matTooltip="Edit this task." (click)="openEditDialog(task._id)">
            <mat-icon class="edit">edit</mat-icon>
          </button>
          <button mat-button matTooltip="Delete this task." (click)="onTaskDelete(task._id)">
            <span class="icon-container">
              <mat-icon class="del">delete</mat-icon>
              <mat-icon class="del del-hover">delete_forever</mat-icon>
            </span>
          </button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-card>
  </mat-card>

</div>
