<!--
  /*============================================;
  Title: Node Bucket
  Author: Cory Gilliam
  Date: March 2020;
  Modified By:
  Description: Web 450 Capstone Project.
  ===========================================*/
-->

<div class="frm-login">
  <form (ngSubmit)="onLogin(f)" #f="ngForm">

    <mat-card fxLayout="column" fxLayoutAlign="left" class="login-panel frm-login-panel">

      <mat-card-header fxFlex=120px class="frm-login-header">
        <mat-card-title>Login Form</mat-card-title>
        <mat-card-subtitle>You must be logged in before you area allowed to run amuck on the site.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout="column" fxFlex=120px class="frm-login-body">

        <mat-form-field>

          <input
            matInput
            type="number"
            placeholder="Employee ID"
            name="employeeId"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >

          <mat-hint align="end">
            Please enter your employee ID number.
          </mat-hint>

          <mat-error>
            You need to enter a valid Employee ID.
          </mat-error>

        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="frm-login-actions">

        <button
          mat-raised-button
          class="btn-login"
          [disabled]="!f.valid"
        >
          Log In
        </button>

      </mat-card-actions>

    </mat-card>
  </form>
</div>
