<mat-card
  class="file-not-found"
  role="region"
  fxLayout="column"
  fxLayoutGap="2em"
  fxFlexAlign="center"
  fxLayoutAlign="center"
>
  <mat-card-header class="file-not-found__header">
    <mat-card-title class="file-not-found__title">
      <h2 class="file-not-found__h2">404 Error</h2>
    </mat-card-title>
  </mat-card-header>

  <img class="file-not-found__image" mat-card-image src=" ../../../assets/file_not_found.jpg">

  <mat-card-content class="file-not-found__content">
    <p>The information you are trying to find can not be found. Please double check your URL and try again.</p>
  </mat-card-content>
</mat-card>
