<!--
  /*============================================;
  Title: Node Bucket
  Author: Cory Gilliam
  Date: March 2020;
  Modified By:
  Description: Web 450 Capstone Project.
  ===========================================*/
-->
<mat-card
  class="about"
  role="region"
  fxLayout="column"
  fxLayoutGap="2em"
  fxFlexAlign="center"
  fxLayoutAlign="center"
>

  <mat-card-content class="about__content">
    <h2>Welcome to Node Bucket!</h2>
    <p>Easy, simple, workflow, right at your fingertips. The best is class task organizing solution to ever be free to use. From task creation to removal, Node Bucket makes getting organized easy!</p>
    <p class="smaller">Easy to use. I am green with envy that I did not have this idea first. <em class="quote">— Bruce Banner</em></p>
    <p class="smaller">Love, love this app. They hit a bullseye with this one. It’s a fun and useful app. Highly recommend it to friends and family. <em class="quote">— Oliver Queen</em></p>
    <p class="smaller">You WILL NOT have to be locked in your house for two weeks to learn how to use it. It's the little things that make it great. <em class="quote">— Scott Lang</em></p>
    <p>Typical mobile apps have a lot of different functions from registration to terms and conditions. With Node Bucket, we don’t need to talk about all these functions. We will point out just a few of our core features and let you see for yourself how much you need it.</p>
    <p>The killer feature of Node Bucket is the ability to get yourself organized. Create a list of tasks that you need to get done. Sort them by how important they are to you to get done. When finished, move them to the “Done” column or just delete them altogether. This application can be your competitive advantage. It can position your productivity level to high. It can make your position on the market soar.</p>
    <p>Things you can do:</p>
    <ul>
      <li>Create tasks</li>
      <li>Sort tasks by importance</li>
      <li>Drag and Drop tasks into the Done column</li>
      <li>Delete tasks</li>
    </ul>
    <p>This will become your most used application in your workflow. You will wonder how you ever tied your shoes without it. We hope you enjoy being more productive.</p>
    <p class="attr">Backgroud image: Royalty Free courtesy of &copy; <a
        href="https://www.rawpixel.com/image/591062/futuristic-eye-close" target="_blank" rel="no-follow">rawpixel</a>
    </p>
  </mat-card-content>

</mat-card>
